/*========== strat responsive ==========*/

/*========== extra small screen ==========*/
@media (max-width:767px)  {
    body {
        padding: var(--main-spacing) 0 0;
    }
    section .after__bg {
        display: none;
    }
    .content__holder .content .half__right {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
    .content__holder .content[Data-bg].responsive{
        background: var(--responsive);
    }
    .content__holder .content[Data-bg].responsive > .over__lay{
        background: transparent;
    }
    .content__holder .content.before--non--pd--responsive {
        padding-bottom: var(--main-spacing);
    }
    .content__holder .content.after--non--pd--responsive {
        padding-top: var(--main-spacing);
    }
    .content__holder .content .full__right {
        width: 100%;
        transform: none;
    }
    .content__holder .content .dimantion {
        width: 100%;
        padding: 0 15px;
    }
    section .box__img__multiple img:first-of-type {
        margin-top: 0;
    }
    section .box__img__multiple img:last-of-type {
        margin-bottom: 0;
    }
    header {
        padding-left: 20px;
    }
    header .header__nav {
        justify-content: flex-start;
    }
    header .content__search, header .content__menu {
        left: 0;
        width: 100%;
    }
    header .content__menu > ul > li {
        transform: translateX(0);
    }
    footer .ul__wrapper {
        flex-direction: column;
        row-gap: 25px;
    }
    .slider.swiper-container .swiper-button-next {
        left: calc(50% + 75px);
        transform: translateX(-100%);
    }
    .slider.swiper-container .swiper-button-prev {
        bottom: 35px;
        left: 50%;
        transform: translateX(-100%);
    }
    .sec__music .control {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        margin: 0;
        padding: 20px 0;
        background: var(--one-color);
    }
    .sec__events .events__wrapper .description{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .sec__events .events__wrapper .description .date {
        margin-right: 0;
    }
    .sec__events .events__wrapper .information {
        justify-content: space-between;
    }
    .sec__events .events__wrapper .description .title {
        width: 100%;
    }
    .sec__events .events__wrapper .description.left--border .title {
        border-right: none;
    }
    .sec__testimonials .testimonials__wrapper .items__img {
        justify-content: flex-start;
        padding: 0;
        border: none;
    }
    .sec__testimonials .testimonials__wrapper .items__img .icon {
        display: none;
    }
    .sec__testimonials.faded .testimonials__wrapper .items__content {
        transform: translateX(0);
    }
    .sec__testimonials .testimonials__wrapper .testimonials__numbers {
        left: auto;
        right: 0;
        transform: 0;
    }
    .sec__testimonials .testimonials__wrapper .testimonials__control {
        position: static;
        justify-content: flex-start;
    }
    .sec__testimonials.static .testimonials__wrapper .items__content {
        flex-direction: column;
        row-gap: 10px;
    }
    .sec__testimonials.static .testimonials__wrapper .items__content .box__img {
        display: none !important;
    }
    .sec__testimonials.static .testimonials__wrapper .items__content div.description {
        width: 100%;
        align-items: flex-start;
    }
    .sec__testimonials.static .testimonials__wrapper .items__content .information {
        position: static;
        flex-direction: column;
        row-gap: 10px;
    }
    .sec__testimonials.static .testimonials__wrapper .items__content .description .icon{
        position: static;
        font-size: 20px;
        margin-right: 10px;
    }
    .sec__subscrib form {
        flex-direction: column;
        row-gap: var(--between-spacing);
    }
    .sec__subscrib button {
        width: max-content;
    }
}
/*========== small screen ==========*/
@media (min-width:768px) and (max-width:991px) {
    body {
        padding: var(--main-spacing) 0 0;
    }
    section .after__bg {
        display: none;
    }
    .content__holder .content .half__right {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
    .content__holder .content[Data-bg].responsive{
        background: var(--responsive);
    }
    .content__holder .content[Data-bg].responsive > .over__lay{
        background: transparent;
    }
    .content__holder .content.before--non--pd--responsive {
        padding-bottom: var(--main-spacing);
    }
    .content__holder .content.after--non--pd--responsive {
        padding-top: var(--main-spacing);
    }
    .content__holder .content .full__right {
        width: 100%;
        transform: none;
    }
    .content__holder .content .dimantion {
        width: 100%;
        padding: 0 15px;
    }
    section .box__img__multiple img:first-of-type {
        margin-top: 0;
    }
    section .box__img__multiple img:last-of-type {
        margin-bottom: 0;
    }
    header {
        padding-left: 20px;
    }
    header .header__nav {
        justify-content: flex-start;
    }
    header .content__search, header .content__menu {
        left: 0;
        width: 100%;
    }
    header .content__menu > ul > li {
        transform: translateX(0);
    }
    .slider.swiper-container .swiper-button-next {
        left: calc(50% + 75px);
        transform: translateX(-100%);
    }
    .slider.swiper-container .swiper-button-prev {
        bottom: 35px;
        left: 50%;
        transform: translateX(-100%);
    }
    .sec__music .control {
        margin: 0;
        padding: 20px 0;
        background: var(--one-color);
    }
    .sec__events .events__wrapper .description{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .sec__events .events__wrapper .description .date {
        margin-right: 0;
    }
    .sec__events .events__wrapper .description .title {
        width: 100%;
    }
    .sec__events .events__wrapper .information {
        justify-content: space-between;
    }
    .sec__events .events__wrapper .description.left--border .title {
        border-right: none;
    }
    .sec__testimonials .testimonials__wrapper .items__img {
        justify-content: flex-start;
        padding: 0;
        border: none;
    }
    .sec__testimonials .testimonials__wrapper .items__img .icon {
        display: none;
    }
    .sec__testimonials .testimonials__wrapper .items__content {
        transform: translateX(0);
    }
    .sec__testimonials .testimonials__wrapper .testimonials__numbers {
        left: auto;
        right: 0;
        transform: 0;
    }
    .sec__testimonials .testimonials__wrapper .testimonials__control {
        position: static;
        justify-content: flex-start;
    }
}
/*========== medium screen ==========*/
@media (min-width:992px) and (max-width:1199px) {
    .content__holder .content .half__right {
        padding: var(--main-spacing) 40px 0;
    }
    .sec__music .control {
        margin: 0 -40px;
        padding: 40px;
    }
}
/*========== large screen ==========*/
@media (min-width:1200px) {

}

/*========== end responsive ==========*/