@charset "utf-8";
:root {
    --main-color: #081624;
    --second-color: #2cc6ad;
    --one-color: #ffffff;
    --two-color: #000000;
    --font-color: #0009;
    --font-color-two: #fff9;
    --main-spacing: 80px;
    --between-spacing: 35px;
    --f-size: 14px;
    /* scroll-behavior: smooth; */
}
/*======================================
[ -Main Stylesheet-
Theme: Musical
Version: 1.0
Release Date: 16/07/2021 ]
+++ General Style +++
+++ assets +++
+++ layout +++
+++ header +++
+++ footer +++
+++ aside__fixed +++
+++ services +++
+++ gallery +++
======================================*/
/*========== General Style ==========*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    padding: var(--main-spacing) 0 0 var(--main-spacing);
    font-family: 'Titillium Web', sans-serif;
    font-size: var(--f-size);
    color: var(--two-color);
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/*========== General Style ==========*/

/*========== assets ==========*/
.is-hidden {
    display: none !important;
}

hr.hr__solid {
    border-color: rgba(255, 255, 255, 0.21);
    margin: 0;
}
p {
    margin-bottom: 0;
    line-height: calc(var(--f-size) + 10px);
    letter-spacing: 0.9px;
    color: var(--font-color);
}
.btn__one{
    border: none;
    box-shadow: none;
    outline: none;
    background: var(--main-color);
    color: var(--one-color);
    text-transform: uppercase;
    padding: 15px 35px;
    transition: .5s;
}
.btn__one:hover {
    background: var(--second-color);
}
.btn__one.btn--reverse--color {
    border: 1px solid transparent;
    background: var(--second-color);
}
.btn__one.btn--reverse--color:hover {
    background: transparent;
    border-color: var(--second-color);
}
.btn__arrow {
    box-shadow: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;
    display: block;
    width: 60px;
    height: 60px;
    transition: .3s;
}
.btn__arrow.btn--reverse--color {
    border-color: transparent;
    background: var(--second-color);
    color: var(--one-color) !important;
}
.btn__arrow:hover {
    background: var(--second-color);
    color: var(--one-color);
    border-color: transparent;
}
.btn__arrow.btn--reverse--color:hover {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.15) !important;
    color: var(--two-color) !important;
}
.input__one {
    outline: none;
    border-radius: 0;
    padding: 6px 15px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 68px;
    font-size: 16px;
    transition: .3s;
}
.input__one:focus{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
/*========== assets ==========*/

/*========== layout ==========*/
#wrapper {
    position: relative;
}
#wrapper .content__holder {
    position: relative;
}
.content__holder .content {
    position: relative;
    padding: var(--main-spacing) 0;
    background: var(--one-color);
}
.content__holder .content[Data-bg] {
    background-image: var(--background);
    background-size: cover;
    color: var(--one-color);
}
.content__holder .content.non--pd {
    padding: 0;
}
.content__holder .content.before--non--pd {
    padding-bottom: calc(var(--main-spacing) * 2);
}
.content__holder .content.after--non--pd {
    padding-top: calc(var(--main-spacing) * 2);
}
.content__holder .content[Data-bg] p {
    color: var(--font-color-two);
}
.content__holder .content[Data-bg] > .over__lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    opacity: 0.5
}
.content__holder section {
    position: relative;
}
.content__holder .content .half__right {
    position: relative;
    background: rgba(255, 255, 255, 0.81);
    width: 60%;
    float: right;
    color: var(--two-color);
    padding: var(--main-spacing) 70px 0;
}
.content__holder .content .half__right p {
    color: var(--font-color);
}
.content__holder .content .full__right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 60%;
    transform: skewX(-10deg) translateX(20%);
    background: rgba(0, 0, 0, 0.50);
}
.content__holder .content .dimantion {
    position: absolute;
    width: 40%;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section .row {
    align-items: center;
    row-gap: var(--between-spacing);
}
section h2.sec__title {
    font-size: 44px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-bottom: var(--between-spacing);
    font-weight: 900;
}
section h2.sec__title.non--mr {
    margin-bottom: 5px;
}
section h3.sec__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    z-index: 99;
    width: max-content;
}
.content__holder .content[Data-bg] section h3.sec__desc {
    color: rgba(255, 255, 255, 0.05);
}
.content__holder section .half__right h3.sec__desc {
    color: rgba(0, 0, 0, 0.05) !important;
}
section p.mr--layout {
    margin-bottom: var(--between-spacing);
}
section .box__img {
    overflow: hidden;
}
section .box__img img {
    width: 100%;
    height: auto;
    transition: .5s;
}
section .box__img__multiple {
    display: flex;
    column-gap: 30px;
}
section .box__img__third .box__first,
section .box__img__third .box__second {
    height: 50%;
}
section .box__img__third .box__first img{
    width: 100%;
    margin-bottom: 10px;
}
section .box__img__third .box__second {
    display: flex;
}
section .box__img__third .box__second img:first-of-type {
    width: calc(50% - 5px);
    margin-right: 5px;
}
section .box__img__third .box__second img:last-of-type {
    width: calc(50% - 5px);
    margin-left: 5px;
}
section .box__img__multiple img:first-of-type {
    margin-top: 80px;
    width: calc(50% - 15px);
}
section .box__img__multiple img:last-of-type {
    margin-bottom: 80px;
    width: calc(50% - 15px);
}
/*========== layout ==========*/

/*========== header ==========*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--main-spacing);
    display: flex;
    background: var(--main-color);
    padding-left: var(--main-spacing);
    color: var(--one-color);
    z-index: 999;
}
header .header__nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
header .header__nav .nav__logo {
    display: flex;
    align-items: center;
}
header .header__nav ul {
    display: flex;
    text-transform: uppercase;
    column-gap: 25px;
}
header .header__nav ul li {
    position: relative;
    height: 100%;
    line-height: var(--main-spacing);
}
header .header__nav ul li a {
    transition: .3s;
}
header .header__nav ul li a:hover {
    color: var(--second-color);
}
header .header__nav li ul {
    position: absolute;
    top: calc(100% + 1px);
    left: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: var(--main-color);
    padding: 20px 50px;
    transform: translateX(-50%);
    opacity: 0;
    cursor: none;
    pointer-events: none;
    transition: .3s;
}
header .header__nav li:hover ul {
    opacity: 1;
    cursor: auto;
    pointer-events: all;
}
header .header__nav li ul li {
    height: auto;
    line-height: normal;
}
header .header__search, header .header__menu {
    width: var(--main-spacing);
    height: var(--main-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
header .header__search:hover,header .header__search.active, header .header__menu:hover,header .header__menu.active {
    background: var(--one-color);
}
header .header__search:hover .icon,header .header__search.active .icon, header .header__menu:hover .icon,header .header__menu.active .icon {
    color: var(--second-color);
}
header .header__menu {
    background: var(--second-color);
}
header .content__search, header .content__menu {
    display: none;
    position: absolute;
    top: var(--main-spacing);
    left: var(--main-spacing);
    height: calc(100vh - var(--main-spacing));
    width: calc(100% - var(--main-spacing));
    background: rgba(8, 22, 36, 0.95);
    z-index: 999;
    cursor: auto;
    padding-top: 80px;
}
header .content__search {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
}
header .content__search form {
    max-width: 600px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
    margin: auto;
}
header .content__search form input {
    border-radius: 0;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    width: calc(100% - 40px);
    padding: 10px 8px;
    text-align: left;
    font-size: 20px;
    color: var(--one-color);
}
header .content__search form button {
    all: unset;
}
header .content__search form button .icon {
    cursor: pointer;
    transition: .3s;
}
header .content__search form button .icon:hover {
    color: var(--second-color);
}
header .content__menu ul {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    row-gap: 25px;
}
header .content__menu > ul > li {
    transform: translateX(calc(var(--main-spacing) * -1));
    cursor: pointer;
}
header .content__menu ul li a {
    transition: .3s;
}
header .content__menu ul li .icon {
    transform-origin: center;
}
header .content__menu ul li .icon.open{
    transform: rotate(90deg);
}
header .content__menu ul li a:hover {
    color: var(--second-color);
}
header .content__menu li ul {
    margin-top: 25px;
}
/*========== header ==========*/

/*========== footer ==========*/
footer {
    position: relative;
    background: var(--main-color);
    padding: var(--main-spacing) 0;
    color: var(--one-color);
}
footer p {
    color: var(--font-color-two);
    max-width: 400px;
}
footer .logo__wrapper{
    margin-bottom: var(--between-spacing);
}
footer .links__wrapper h6 {
    margin-bottom: var(--between-spacing);
}
footer .ul__wrapper {
    display: flex;
    justify-content: space-between;
}
footer .ul__wrapper ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
footer .ul__wrapper a {
    text-transform: uppercase;
    color: var(--font-color-two);
    transition: .3s;
}
footer .ul__wrapper a:hover {
    color: var(--one-color);
}
/*========== footer ==========*/

/*========== aside__fixed ==========*/
aside.aside__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--main-spacing);
    height: 100%;
    background: var(--main-color);
    padding-top: var(--main-spacing);
    color: var(--one-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    padding-left: 10px;
    padding-right: 15px;
}
aside.aside__fixed .aside__top {
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside.aside__fixed .aside__top h2 {
    font-size: calc(var(--f-size) - 2px);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}
aside.aside__fixed .aside__top h2 a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
    color: var(--one-color);
}
aside.aside__fixed .aside__top a.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.21);
    border-radius: 50%;
    transition: .3s;
    transform: translate(-50%,-50%);
    z-index: 1;
}
aside.aside__fixed .aside__top svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
aside.aside__fixed .aside__top hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
aside.aside__fixed .aside__theme {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
    justify-content: center;
    overflow: hidden;
}
aside.aside__fixed .aside__theme span {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: var(--theme);
    background-clip: content-box;
    transition: .3s;
    border: 1px solid transparent;
}
aside.aside__fixed .aside__theme span.active {
    border-color:rgba(255, 255, 255, 0.31);
    padding: 3px;
}
aside.aside__fixed .aside__social {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
aside.aside__fixed .aside__social a {
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
aside.aside__fixed .aside__social a:hover {
    background: var(--second-color);
    border-color: transparent;
}
aside.aside__fixed .aside__social hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
/*========== aside__fixed ==========*/

/*========== services ==========*/
.sec__services .services__item {
    position: relative;
    background: rgba(0, 0, 0, 0.03);
    padding: 25px;
    transition: .3s;
}
.sec__services .services__started h5 {
    margin-bottom: var(--between-spacing);
}
.sec__services .services__started h5 {
    font-size: 60px;
}
.sec__services .services__item:before {
    content: "";
    position: absolute;
    bottom: 7px;
    right: 7px;
    border-top: 30px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid rgba(0, 0, 0, 0.05);
}
.sec__services .services__item:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid rgba(0, 0, 0, 0.05);
}
.sec__services .services__item:hover {
    background: transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sec__services .services__item .item__icon {
    padding-bottom: 20px;
}
.sec__services .services__item .item__icon .icon {
    font-size: 40px;
    color: var(--second-color);
}
.sec__services .services__item .item__title {
    padding-top: 20px;
}
.sec__services .services__item .item__title h4 {
    font-weight: 900;
    width: min-content;
}
/*========== services ==========*/

/*========== sliders ==========*/
.slider.swiper-container {
    width: 100%;
    height: calc(100vh - var(--main-spacing));
}
.slider.swiper-container .swiper-slide {
    position: relative;
    overflow: hidden;
}
.slider.swiper-container .swiper-slide .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: var(--one-color);
}
.slider.swiper-container .swiper-slide .slide-content .holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
}
.slider.swiper-container .swiper-slide .slide-content .holder button {
    border-radius: 40px;
}
.slider.swiper-container .swiper-slide .slide-content h2 {
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 2;
    text-transform: uppercase;
}
.slider.swiper-container .swiper-slide .slide-content p {
    color: var(--font-color-two);
    max-width: 600px;
    text-align: center;
    font-size: 17px;
}
.slider.swiper-container .swiper-pagination {
    background: rgba(255, 255, 255, 0.61);
    inset: auto;
    bottom: 35px;
    right: 85px;
    transition: .5s;
    display: flex;
    column-gap: 0;
    width: auto;
    transition: .3s;
}
.slider.swiper-container .swiper-pagination.active {
    padding: 22.5px;
    column-gap: 15px;
}
.slider.swiper-container .swiper-pagination > span {
    width: 60px;
    height: 60px;
    border-radius: 0;
    margin: 0 !important;
    opacity: 1;
    filter: grayscale(1);
    opacity: 0.5;
    pointer-events: none;
    transition: .3s;
}
.slider.swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
    filter: grayscale(0);
    opacity: 1;
}
.slider.swiper-container .swiper-pagination.active > span {
    pointer-events: all;
    width: 90px;
    height: 90px;
}
.slider.swiper-container .swiper-pagination .pagination-after,
.slider.swiper-container .swiper-pagination .pagination-before {
    position: absolute;
    right: -60px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.61);
    color: var(--one-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.slider.swiper-container .swiper-pagination .pagination-after .icon {
    transition: transform .3s;
}
.slider.swiper-container .swiper-pagination .pagination-after:hover ,
.slider.swiper-container .swiper-pagination.active .pagination-after {
    background: var(--second-color);
    color: var(--one-color);
}
.slider.swiper-container .swiper-pagination.active .pagination-after .icon{
    transform: rotate(180deg);
}
.slider.swiper-container .swiper-pagination .pagination-before {
    bottom: 60px;
    right: -60px;
    height: 75px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}
.slider.swiper-container .swiper-pagination .pagination-before span {
    color: var(--font-color-two);
    position: relative;
    transition: .3s;
}
.slider.swiper-container .swiper-pagination.active .pagination-before {
    background: var(--second-color);
}
.slider.swiper-container .swiper-pagination.active .pagination-before span {
    color: var(--one-color);
}
.slider.swiper-container .swiper-button-prev,.slider.swiper-container .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--two-color);
    background: rgba(255, 255, 255, 0.61);
    border: none;
    position: absolute;
    inset: auto;
    left: 25px;
}
.slider.swiper-container .swiper-button-next {
    bottom: 35px;
}
.slider.swiper-container .swiper-button-prev {
    bottom: 110px;
}
.slider.swiper-container .swiper-button-prev:hover,.slider.swiper-container .swiper-button-next:hover {
    background: var(--second-color);
    color: var(--one-color);
}
.swiper-container .swiper-button-prev::after , .swiper-container .swiper-button-next::after {
    display: none;
}
/*========== sliders ==========*/

/*========== gallery ==========*/
.sec__gallery .item {
    margin: 10px 5px;
    position: relative;
    overflow: hidden;
}
.sec__gallery .over__lay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( transparent,transparent 40%, var(--second-color) 90%);
    opacity: 0;
    transition: .5s;
}
.sec__gallery .wrapper__contetnt {
    width: 100%;
    height: min-content;
    display: flex;
    column-gap: 15px;
    align-items: center;
    position: absolute;
    top: calc(100% - 25px);
    left: 0;
    padding: 0 15px;
    transform: translateY(-100%);
    color: var(--white);
    opacity: 0;
    transition: .5s;
    z-index: 3;
}
.sec__gallery .item:hover .wrapper__contetnt , .sec__gallery .item.active .wrapper__contetnt {
    opacity: 1 ;
}
.sec__gallery .swiper-slide.swiper-slide-active .wrapper__contetnt {
    opacity: 1;
}
.sec__gallery .icon {
    font-size: 20px;
}
.sec__gallery .wrapper__contetnt div {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.sec__gallery .item:hover .over__lay , .sec__gallery .item.active .over__lay {
    opacity: 1;
}
.sec__gallery.swipper .swiper-slide.swiper-slide-active .over__lay {
    opacity: 1;
}
.sec__gallery .item:hover img,
.sec__gallery .item.active img {
    transform: rotate(8deg) scale(1.2);
}
.sec__gallery .swiper-slide.swiper-slide-active img {
    transform: rotate(8deg) scale(1.2);
}
.sec__gallery .wrapper__contetnt h3 {
    font-size: var(--f-size);
    margin-bottom: 0;
}
.sec__gallery .wrapper__contetnt p {
    color: var(--one-color);
    text-transform: uppercase;
    font-size: 12px;
}
.sec__gallery .wf-column {
    float: left;
}
.sec__gallery .gallery__navigation {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: var(--between-spacing);
}
.sec__gallery .btn__arrow {
    position: static;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--two-color);
}
.sec__gallery .btn__arrow:hover {
    color: var(--one-color);
    border-color: transparent;
}
/*========== gallery ==========*/

/*========== about ==========*/
.sec__about .accordion__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.sec__about .accordion__wrapper hr {
    border-color: rgba(0, 0, 0, 0.05);
    margin: 0 0 0 10px;
}
.sec__about .accordion__question {
    position: relative;
}
.sec__about.toggle .accordion__question {
    cursor: pointer;
}
.sec__about .accordion__item .number {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: var(--second-color);
    color: var(--one-color);
    margin-right: 15px;
    text-align: center;
}
.sec__about.toggle .accordion__answer {
    display: none;
}
.sec__about .accordion__answer {
    margin-left: 45px;
}
.sec__about .accordion__item.active .accordion__answer {
    display: block;
}
/*========== about ==========*/

/*========== music ==========*/
.sec__music .half__right {
    padding-bottom: 0;
}
.sec__music ul li .title {
    color: var(--font-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sec__music ul li .title .icon {
    margin-right: 15px;
}
.sec__music.list ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 0;
    margin-bottom: var(--between-spacing);
}
.sec__music.list ul li {
    display: flex;
    justify-content: space-between;
}
.sec__music.list ul li.active .title,
.sec__music.list ul li.active .duration {
    color: var(--second-color);
}
.sec__music.grid ul {
    margin-bottom: var(--between-spacing);
}
.sec__music.grid ul li {
    position: relative;
}
.sec__music.grid ul li .over__lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( transparent,transparent 40%, var(--two-color) 90%);
}
.sec__music.grid ul li.active .over__lay {
    background: linear-gradient( transparent,transparent 40%, var(--second-color) 90%);
}
.sec__music.grid ul li .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: var(--one-color);
}
.sec__music .control {
    background: rgba(0, 0, 0, 0.05);
    margin: 0 -70px;
    padding: 40px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec__music .control .title p {
    font-weight: 900;
}
.sec__music .control .title h6 {
    color: var(--second-color);
    font-weight: 900;
    margin-bottom: 0;
}
/*========== music ==========*/

/*========== events ==========*/
.sec__events .events__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: var(--between-spacing);
}
.sec__events .events__wrapper .description .date {
    width: 90px;
    height: 90px;
    background: var(--second-color);
    color: var(--one-color);
    float: left;
    margin-right: 15px;
}
.sec__events .events__wrapper .description .date .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 24px);
    font-weight: 700;
    font-size: 30px;
}
.sec__events .events__wrapper .description .date .month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24px;
    font-weight: 700;
    background: var(--main-color);
    text-transform: uppercase;
}
.sec__events .events__wrapper .description.left--border .date .month {
    background: transparent;
}
.sec__events .events__wrapper .description.left--border .date {
    border-left: 4px solid var(--second-color);
    background: transparent;
    color: var(--two);
}
.sec__events .events__wrapper .description .title {
    width: calc(100% - 105px);
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
}
.sec__events .events__wrapper .description.left--border .title {
    border-right: 2px solid rgba(0, 0, 0, 0.09);
}
.sec__events .events__wrapper .description .title h5 {
    font-weight: 900;
}
.sec__events .events__wrapper .information {
    display: flex;
    justify-content: space-around;
}
.sec__events .events__wrapper .information span {
    font-weight: 900;
    text-transform: uppercase;
}
.sec__events .events__wrapper .information .icon {
    color: var(--second-color);
}
.sec__events .events__wrapper hr.hr__solid {
    border-color: rgba(0, 0, 0, 0.05);
}
/*========== events ==========*/

/*========== testimonials ==========*/
.sec__testimonials .testimonials__wrapper {
    position: relative;
}
.sec__testimonials .testimonials__wrapper .items__img {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 80px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.sec__testimonials .testimonials__wrapper .items__img img {
    display: none;
}
.sec__testimonials .testimonials__wrapper .items__img .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: var(--second-color);
}
.sec__testimonials.static .testimonials__wrapper .items__content {
    display: flex;
    position: relative;
}
.sec__testimonials.static .testimonials__wrapper .items__content div:not(.information) {
    width: 50%;
    display: flex;
    align-items: center;
}
.sec__testimonials.static .testimonials__wrapper .items__content .information {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.sec__testimonials.static .testimonials__wrapper .items__content .information span {
    display: block;
    background: var(--second-color);
    padding: 8px 20px;
    text-transform: uppercase;
    color: var(--one-color);
}
.sec__testimonials.static .testimonials__wrapper .items__content .description {
    background: var(--main-color);
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    position: relative;
}
.sec__testimonials.static .testimonials__wrapper .items__content .description .icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: var(--second-color);
}
.sec__testimonials.faded .testimonials__wrapper .items__content {
    background: var(--one-color);
    transform: translateX(-50px);
    padding: 40px 0;
    display: none;
}
.sec__testimonials .testimonials__wrapper .items__content .name span {
    color: var(--second-color);
    font-size: 1rem;
}
.sec__testimonials .testimonials__wrapper .testimonials__numbers {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.15);
}
.sec__testimonials .testimonials__wrapper .testimonials__control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
/*========== testimonials ==========*/

/*========== news ==========*/
.sec__news .news__item {
    overflow: hidden;
}
.sec__news .news__item.space--left {
    margin-bottom: -60px;
}
.sec__news .news__item .item__content {
    background: var(--one-color);
    padding: 20px 0 20px 20px;
    position: relative;
}
.sec__news .news__item.space--left .item__content {
    transform: translate(20px , -60px);
    padding: 20px 35px;
}
.sec__news .news__item.space--left .item__content:after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    border-top: 40px solid transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid rgba(0, 0, 0, 0.05);
    transition: .5s;
}
.sec__news .news__item.space--left .item__content:before {
    content: "";
    position: absolute;
    right: 29px;
    bottom: 9px;
    width: 22px;
    height: 22px;
    background: var(--one-color);
    z-index: 2;
}
.sec__news .news__item.border--left .item__content:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 3px;
    height: 50%;
    background: rgba(0, 0, 0, 0.09);
    transition: .5s;
}
.sec__news .news__item.space--left:hover .item__content:after,
.sec__news .news__item.space--left.active .item__content:after {
    border-right: 40px solid var(--second-color);
}
.sec__news .news__item.border--left:hover .item__content:after,
.sec__news .news__item.border--left.active .item__content:after {
    background: var(--second-color);
}
.sec__news .news__item .item__content h6 {
    text-transform: uppercase;
    font-weight: 900;
}
.sec__news .news__item .item__content a {
    text-transform: uppercase;
}
/*========== news ==========*/

/*========== subscrib ==========*/
.sec__subscrib form {
    display: flex;
}
.sec__subscrib input {
    flex-grow: 1;
}
/*========== subscrib ==========*/

/*========== purchase ==========*/
.sec__purchase {
    height: 100vh;
}
.sec__purchase button {
    width: max-content;
}
/*========== purchase ==========*/

